packaging>=19.0
numpy

# methods
scipy>=1.2.0
periodictable

# bridges
git+https://github.com/theochem/iodata.git@1.0.0a2

# For building the documentation
sphinx>=6.0

# For testing
pytest
coverage
pytest-cov
